## Restaurant Ratings

In this exercise, you will work with a dataset and transform it for another system using pandas.

This will get you practice with aggregating columns, using groupings, and merging tables

1. What are all of the supported payment methods for each place?

In [1]:
import pandas as pd

In [2]:
payment_methods = pd.read_csv('restaurant_ratings/chefmozaccepts.csv')
geoplaces = pd.read_csv('restaurant_ratings/geoplaces2.csv')

restaurant_names = geoplaces[['placeID', 'name']]

payments_with_names = restaurant_names.merge(payment_methods, how= 'inner', on='placeID')

In [3]:
payments_with_names['values'] = 1

payments_with_names.head()

   placeID                            name             Rpayment  values
0   132825                 puesto de tacos                 cash       1
1   135106      El Rinc�n de San Francisco                 cash       1
2   135106      El Rinc�n de San Francisco                 VISA       1
3   135106      El Rinc�n de San Francisco  MasterCard-Eurocard       1
4   132667  little pizza Emilio Portes Gil                 cash       1

In [4]:
payments_with_names.groupby("name")['Rpayment'].apply(lambda x: ", ".join(x))

name
Abondance Restaurante Bar                                                          cash
Arrachela Grill                                                                    cash
Cabana Huasteca                                                                    cash
Cafe Chaires                                                                       cash
Cafeteria cenidet                                                                  cash
                                                            ...
tacos de barbacoa enfrente del Tec                                                 cash
tacos de la estacion                                                               cash
tacos los volcanes                    cash, VISA, MasterCard-Eurocard, American_Expr...
tortas hawai                                                                       cash
vips                                                    cash, VISA, MasterCard-Eurocard
Name: Rpayment, Length: 113, dtype: object

In [5]:
payments_with_names.groupby("name")['Rpayment'].apply(list)

name
Abondance Restaurante Bar                                                        [cash]
Arrachela Grill                                                                  [cash]
Cabana Huasteca                                                                  [cash]
Cafe Chaires                                                                     [cash]
Cafeteria cenidet                                                                [cash]
                                                            ...
tacos de barbacoa enfrente del Tec                                               [cash]
tacos de la estacion                                                             [cash]
tacos los volcanes                    [cash, VISA, MasterCard-Eurocard, American_Exp...
tortas hawai                                                                     [cash]
vips                                                  [cash, VISA, MasterCard-Eurocard]
Name: Rpayment, Length: 113, dtype: object

In [6]:
payments_with_names_pivot = payments_with_names.pivot_table(index='name', columns='Rpayment', values='values', fill_value=0)

In [7]:
payments_with_names_pivot

Rpayment,American_Express,Carte_Blanche,Discover,MasterCard-Eurocard,VISA,bank_debit_cards,cash,checks
name,,,,,,,,
Abondance Restaurante Bar,0,0,0,0,0,0,1,0
Arrachela Grill,0,0,0,0,0,0,1,0
Cabana Huasteca,0,0,0,0,0,0,1,0
Cafe Chaires,0,0,0,0,0,0,1,0
Cafeteria cenidet,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
tacos de barbacoa enfrente del Tec,0,0,0,0,0,0,1,0
tacos de la estacion,0,0,0,0,0,0,1,0
tacos los volcanes,1,0,0,1,1,1,1,0
tortas hawai,0,0,0,0,0,0,1,0
vips,0,0,0,1,1,0,1,0

In [8]:
test = payments_with_names.groupby(['name', 'Rpayment'])[[]].count()

In [9]:
test.loc['tacos de la estacion']

Empty DataFrame
Columns: []
Index: [cash]

In [10]:
test

Empty DataFrame
Columns: []
Index: [(Abondance Restaurante Bar, cash), (Arrachela Grill, cash), (Cabana Huasteca, cash), (Cafe Chaires, cash), (Cafeteria cenidet, cash), (Cafeteria y Restaurant El Pacifico, MasterCard-Eurocard), (Cafeteria y Restaurant El Pacifico, VISA), (Cafeteria y Restaurant El Pacifico, cash), (Carls Jr, American_Express), (Carls Jr, MasterCard-Eurocard), (Carls Jr, VISA), (Carls Jr, bank_debit_cards), (Carls Jr, cash), (Carreton de Flautas y Migadas, cash), (Cenaduria El Rincón de Tlaquepaque, cash), (Chaires, cash), (Chilis Cuernavaca, cash), (Dominos Pizza, cash), (El Club, MasterCard-Eurocard), (El Club, VISA), (El Club, cash), (El Herradero Restaurante and Bar, American_Express), (El Herradero Restaurante and Bar, MasterCard-Eurocard), (El Herradero Restaurante and Bar, VISA), (El Herradero Restaurante and Bar, cash), (El Mundo de la Pasta, American_Express), (El Mundo de la Pasta, MasterCard-Eurocard), (El Mundo de la Pasta, VISA), (El Mundo de la Pasta, cash), (El Oceano Dorado, MasterCard-Eurocard), (El Oceano Dorado, VISA), (El Oceano Dorado, bank_debit_cards), (El Oceano Dorado, cash), (El Rincon de San Francisco, American_Express), (El Rincon de San Francisco, MasterCard-Eurocard), (El Rincon de San Francisco, VISA), (El Rincon de San Francisco, cash), (El Rinc�n de San Francisco, MasterCard-Eurocard), (El Rinc�n de San Francisco, VISA), (El Rinc�n de San Francisco, cash), (El angel Restaurante, American_Express), (El angel Restaurante, MasterCard-Eurocard), (El angel Restaurante, VISA), (El angel Restaurante, cash), (El cotorreo, cash), (Giovannis, cash), (Gordas de morales, VISA), (Gordas de morales, cash), (Gorditas Doa Gloria, cash), (Gorditas Dona Tota, VISA), (Gorditas Dona Tota, cash), (Hamburguesas La perica, cash), (Hamburguesas Valle Dorado, cash), (Hamburguesas saul, cash), (KFC, cash), (Koye Sushi, American_Express), (Koye Sushi, cash), (La Cantina Restaurante, MasterCard-Eurocard), (La Cantina Restaurante, VISA), (La Cantina Restaurante, cash), (La Estrella de Dimas, American_Express), (La Estrella de Dimas, VISA), (La Estrella de Dimas, bank_debit_cards), (La Estrella de Dimas, cash), (La Fontana Pizza Restaurante and Cafe, American_Express), (La Fontana Pizza Restaurante and Cafe, MasterCard-Eurocard), (La Fontana Pizza Restaurante and Cafe, VISA), (La Fontana Pizza Restaurante and Cafe, cash), (La Posada del Virrey, American_Express), (La Posada del Virrey, MasterCard-Eurocard), (La Posada del Virrey, VISA), (La Posada del Virrey, bank_debit_cards), (La Posada del Virrey, cash), (La Virreina, American_Express), (La Virreina, MasterCard-Eurocard), (La Virreina, VISA), (La Virreina, cash), (Little Cesarz, MasterCard-Eurocard), (Little Cesarz, VISA), (Little Cesarz, bank_debit_cards), (Little Cesarz, cash), (Log Yin, American_Express), (Log Yin, MasterCard-Eurocard), (Log Yin, VISA), (Log Yin, checks), (Los Vikingos, cash), (Luna Cafe, cash), (Mariscos El Pescador, cash), (Mariscos Tia Licha, bank_debit_cards), (Mariscos Tia Licha, cash), (McDonalds Centro, MasterCard-Eurocard), (McDonalds Centro, VISA), (McDonalds Centro, bank_debit_cards), (McDonalds Centro, cash), (Mcdonalds Parque Tangamanga, MasterCard-Eurocard), (Mcdonalds Parque Tangamanga, VISA), (Mcdonalds Parque Tangamanga, cash), (Michiko Restaurant Japones, American_Express), (Michiko Restaurant Japones, MasterCard-Eurocard), (Michiko Restaurant Japones, VISA), ...]

[252 rows x 0 columns]

What are the parking statuses for each place?

In [11]:
parking_methods = pd.read_csv('restaurant_ratings/chefmozparking.csv')

parking_with_names = restaurant_names.merge(parking_methods, how= 'inner', on='placeID')

parking_with_names['values'] = 1

parking_with_names_pivot = parking_with_names.pivot_table(index='name', columns='parking_lot', values='values', fill_value=0)

In [12]:
parking_with_names_pivot.head(20)

parking_lot                            none  public  valet parking  yes
name
Abondance Restaurante Bar                 0       0              0    1
Arrachela Grill                           1       0              0    0
Cabana Huasteca                           1       0              0    0
Cafe Chaires                              0       0              0    1
Cafeteria cenidet                         0       1              0    0
Cafeteria y Restaurant El Pacifico        0       1              0    0
Carls Jr                                  0       0              0    1
Carnitas Mata  Calle 16 de Septiembre     1       0              0    0
Carreton de Flautas y Migadas             1       0              0    0
Cenaduria El Rincón de Tlaquepaque        1       0              0    0
Chaires                                   0       0              0    1
Chilis Cuernavaca                         1       0              0    0
Dominos Pizza                             0       0              0    1
El Club                                   1       0              0    0
El Herradero Restaurante and Bar          0       0              0    1
El Mundo de la Pasta                      0       0              0    1
El Oceano Dorado                          0       0              0    1
El Rincon de San Francisco                1       0              0    0
El Rinc�n de San Francisco                1       0              0    0
El angel Restaurante                      1       0              0    0